@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import './Mixin.scss';

* {
    font-family: 'Titillium Web', sans-serif;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body {
}
#zigzag {
    width:100%;
    padding:25px 80px 0px 80px;
    box-sizing: border-box;
    max-width: 100%;
    margin:0px auto;
    animation-name: fadeIn;
    animation-duration: 1s;
}
header {
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin: 27px 0px 0px 0px;
    border-bottom: 1px solid #8899a1;
    padding-left: 35px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .left {
        color: $color_text;
        .name-client {
            font-size: 22px;
            font-weight: 700;
        }
        .name-user {
            font-size: 17px;
            line-height: 15px;
            padding-bottom: 4px;
        }
    }
    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        .notification {
            height: 24px;
            margin-right: 27px;
            button  {
                width: 23px;
                height: 24px;
                background-image: url(../Images/icos/icon_notification.png);
                background-color: #FFF;
                position: relative;
                cursor: pointer;
                span {
                    background-color: $color_yellow;
                    border-radius: 100px;
                    font-size: 8px;
                    padding: 1px 4px;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    border: 2px solid #FFF;
                }
            }
        }
        .menu-user {
            padding-top: 5px;
            button {
                display: flex;
                align-items: center;
                background-color: #FFF;
                cursor: pointer;
                i {
                    width: 34px;
                    height: 34px;
                    border-radius: 9px;
                    margin-right: 10px;
                    background-size: cover;
                }
                &:after {
                    width: 7px;
                    height: 5px;
                    background-image: url(../Images/icos/icon_arrow_down.png);
                    margin-left: 10px;
                    content: '';
                }
            }
        }
    }
}